{% extends 'base.html' %}

{% block title %} CRUD|Home{% endblock %}

{% block content %}
    <!-- <button class="btn btn-secondary">aaaaaaa</button> -->
    <form  method="POST" action="addtask/"> 
    	{% csrf_token %}
       <input type="text" name="task">
       <input type="submit" value="add" class="btn btn-success" name="" >  
       
    </form>
	
	{% for task in alltasks %}
		<p> id:{{task.id}}-- task: {{task.task}} <a href="{% url 'deletetask' task.id %}" class="btn btn-danger">Delete </a></p>
	{% endfor %}

{% endblock %}

